.kaufman {
  background-color: #1f1f1f;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-top: 90px;
  padding-bottom: 90px;
  z-index: 0;
}
