.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  padding: 0;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: left;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;

  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}

.logo__place_header {
  position: absolute;
  top: 30px;
  left: 64px;


}

.header__title-container {
  margin: auto 0;
  padding-left: 64px;
  width: 730px;

}

.header__title {
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
}

.header__text-container {
  width: 388px;

  position: absolute;
  left: 64px;
  bottom: 30px;
}

.header__subtitle {
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}

.header__link {
  text-decoration: none;
}



.header__main-llustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  border: none;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 1;

}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
