.footer {
  background-color: #1f1f1f;
  color: white;
  /* min-height: 350px; */
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  min-height: 250px;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__author {
  margin: 16px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
}
.footer__column-link:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}
