.khan__buy-link {
  margin-top: 0;
  margin-left: 48px;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}
.khan__buy-link:hover {
  opacity: 0.5;
  transition: 0.3s;
}
